@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  cursor: pointer;
  min-width: max-content;
  outline-color: $color-brand-primary-hover;
  border: none;
  border-radius: $radius-full;
  padding: $spacing-8 $spacing-12;
  background-color: unset;
  @include flex-row-center($spacing-8);
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease;

  &--primary {
    background-color: $color-brand-primary;
    color: $color-light-primary;

    &:hover {
      background-color: $color-brand-primary-hover;
    }
  }

  &--secondary {
    border: 1px solid $color-border-primary;
    background-color: $color-light-primary;

    &:hover {
      border-color: $color-brand-primary;
      color: $color-brand-primary;
    }
  }

  &--warning {
    color: $color-light-primary;
    background-color: $color-error;

    &:hover {
      background-color: $color-error-hover;
    }
  }

  &--icon {
    padding: $spacing-4;

    &:hover {
      background-color: $color-background-light;
    }
  }

  &--hide-label-mobile {
    aspect-ratio: 1/1;
    padding: $spacing-8;

    @include tablet {
      aspect-ratio: unset;
      padding: $spacing-8 $spacing-12;
    }

    & .btn__label {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}
