@use "./variables.scss" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin flex-row-center($gap: 0) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-row-between($gap: 0) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin flex-col($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin typography($font-size, $font-weight, $line-height) {
  font-family: $font-family-primary;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin page-header {
  @include typography(28px, 600, 36px);

  @include tablet {
    @include typography(32px, 600, 40px);
  }
}

@mixin sub-header {
  @include typography(20px, 600, 28px);

  @include tablet {
    @include typography(24px, 600, 32px);
  }
}

@mixin labels {
  @include typography(13px, 600, 20px);

  @include tablet {
    @include typography(14px, 600, 22px);
  }
}

@mixin table-header {
  @include typography(11px, 600, 16px);
  text-transform: uppercase;
  color: $color-text-secondary;

  @include tablet {
    @include typography(12px, 600, 18px);
  }
}

@mixin body-large {
  @include typography(15px, 400, 26px);

  @include tablet {
    @include typography(16px, 400, 28px);
  }
}

@mixin body-medium {
  @include typography(13px, 400, 20px);

  @include tablet {
    @include typography(14px, 400, 22px);
  }
}

@mixin body-small {
  @include typography(11px, 400, 16px);

  @include tablet {
    @include typography(12px, 400, 18px);
  }
}

@mixin container-padding-sm-y {
  & {
    padding: $spacing-16;
  }

  @include tablet {
    padding: $spacing-16 $spacing-32;
  }
}

@mixin container-padding {
  & {
    padding: $spacing-24 $spacing-16;
  }

  @include tablet {
    padding: $spacing-24 $spacing-32;
  }
}

@mixin content-container {
  background-color: $color-light-primary;
  border-radius: $radius-4;
  box-shadow: 0 4px 8px rgba($color-background-dark, 0.1);
  // overflow: hidden;
}

@mixin input-text {
  padding: $spacing-8 $spacing-12;
  border: 1px solid $color-border-primary;
  border-radius: $radius-full;
  transition: 0.2s ease-out border-color;

  &:hover,
  &:focus,
  &:focus-within {
    outline: none;
    border-color: $color-brand-primary;
  }
}

@mixin base-modal {
  & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-background-dark, 60%);
    backdrop-filter: blur(0.25rem);
    @include flex-col;

    &__content-wrapper {
      background-color: $color-light-primary;
      border-radius: $radius-4;
      overflow: hidden;
      flex-grow: 1;
      @include flex-col;

      @include tablet {
        flex-grow: 0;
        max-width: 80vw;
        width: 100%;
        margin: 11rem auto $spacing-64;
      }
    }

    &__close-btn {
      align-self: flex-end;
    }

    &__header {
      @include flex-row-between($spacing-16);
      @include container-padding;
    }

    &__title {
      flex-grow: 1;
    }

    &__body {
      flex-grow: 1;
      @include container-padding;
    }

    &__message {
      @include body-large;
    }

    &__footer {
      background-color: $color-background-light;
      @include flex-row($spacing-16);
      @include container-padding-sm-y;

      @include tablet {
        justify-content: flex-end;
      }

      & .btn {
        flex-grow: 1;

        @include tablet {
          flex-grow: 0;
          align-self: flex-end;
        }
      }
    }
  }
}
