@use "sass:color";

// Breakpoints
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

// Fonts
$font-family-primary: "Titillium Web", sans-serif;

// Colors
$color-brand-primary: #2e66e5;
$color-brand-primary-hover: color.adjust(
  $color-brand-primary,
  $lightness: -10%
);
$color-brand-primary-light-hover: #e2e9f8;
$color-light-primary: #ffffff;
$color-text-primary: #13182c;
$color-text-secondary: #5c667e;
$color-border-primary: #bdc5d5;
$color-background-dark: #232940;
$color-background-light: #f7f8f9;
$color-success: #158463;
$color-success-light: #ddf4ed;
$color-error: #c94515;
$color-error-light: #fee8e0;
$color-error-hover: color.adjust($color-error, $lightness: -5%);

// Spacing
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;
$spacing-72: 72px;
$spacing-80: 80px;

// Border radius
$radius-4: 4px;
$radius-20: 20px;
$radius-full: 999px;
