@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dropdown {
  position: relative;
  @include flex-col($spacing-4);

  &__label {
    @include flex-col($spacing-4);
    @include labels;
  }

  &__btn {
    cursor: pointer;
    @include input-text;
    @include flex-row-between($spacing-16);
  }

  &__placeholder {
    @include body-medium;
  }

  &__options {
    @include body-medium;
    & {
      position: absolute;
      top: calc(100% + $spacing-4);
      width: 100%;
      background-color: $color-background-light;
      border: 1px solid $color-border-primary;
      border-radius: $radius-20;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba($color-background-dark, 0.1);
      z-index: 1;
    }

    &--collapsed {
      display: none;
    }
  }

  &__option {
    cursor: pointer;
    padding: $spacing-12 $spacing-16;

    &:hover {
      background-color: $color-brand-primary-light-hover;
    }

    &:focus-visible {
      // outline: 1px solid $color-brand-primary;
      outline: none;
      background-color: $color-brand-primary-light-hover;
    }

    &[aria-checked="true"] {
      color: $color-background-light;
      background-color: $color-brand-primary;
    }
  }

  &__message {
    padding: $spacing-12 $spacing-16;
    color: $color-text-secondary;
  }
}
