@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  @include base-modal;

  &__progress {
    background-color: $color-brand-primary;
    height: 0.25rem;
    width: 0;

    &--animate {
      animation: progressAnimation 4s linear forwards;
    }
  }
}

@keyframes progressAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
