@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-background-dark, 60%);
  backdrop-filter: blur(0.25rem);
  @include flex-col;

  &__content-wrapper {
    background-color: $color-light-primary;
    border-radius: $radius-4;
    overflow: hidden;
    flex-grow: 1;
    @include flex-col;

    @include tablet {
      flex-grow: 0;
      max-width: 80vw;
      width: 100%;
      margin: 11rem auto $spacing-64;
    }
  }

  &__progress {
    background-color: $color-brand-primary;
    height: 0.25rem;
    width: 0;

    &--animate {
      animation: progressAnimation 4s linear forwards;
    }
  }

  &__close-btn {
    align-self: flex-end;
  }

  &__content {
    margin: 0; //todo update other modal to match this layout? or add modifier or other class to this modal? or create mixin for shared styles for modals?
    padding: 0;
    gap: 0;
    // @include container-padding;

    // @include tablet {
    //   flex-grow: 0;
    //   max-width: 80vw;
    //   width: 100%;
    //   margin: 11rem auto $spacing-64;
    // }
  }

  &__header {
    @include flex-row-between($spacing-16);
    @include container-padding;
  }

  &__title {
    flex-grow: 1;
  }

  &__body {
    // flex-grow: 1;
    @include container-padding;
  }

  &__message {
    @include body-large;
  }

  &__footer {
    background-color: $color-background-light;
    @include flex-row($spacing-16);
    @include container-padding-sm-y;

    @include tablet {
      justify-content: flex-end;
    }

    & .btn {
      flex-grow: 1;

      @include tablet {
        flex-grow: 0;
        align-self: flex-end;
      }
    }
  }
}

@keyframes progressAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
