@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouses-container {
  background-color: $color-light-primary;
  border-radius: $radius-4;
}

.warehouses-list {
  @include flex-col;

  &__row {
    @include flex-row($spacing-16);
    flex-wrap: wrap;
    @include container;

    &:not(:first-of-type) {
      border-top: 1px solid $color-border-primary;
    }
  }

  &__item {
    flex: 1 1 calc(50% - $spacing-16);
  }

  &__actions {
    flex: 1 1 100%;
    @include flex-row-between($spacing-16);
  }
}
