@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouses-container {
  @include content-container;
}

.warehouses-list {
  @include flex-col;

  &__row {
    @include flex-row($spacing-16);
    flex-wrap: wrap;
    @include container-padding;

    &:not(:first-of-type) {
      border-top: 1px solid $color-border-primary;
    }
  }

  &__item {
    flex: 1 1 calc(50% - $spacing-16);
  }

  &__content {
    &--link {
      color: $color-brand-primary;
      @include flex-row($spacing-4);

      &:hover {
        color: $color-brand-primary-hover;
      }
    }
  }

  &__actions {
    flex: 1 1 100%;
    @include flex-row-between($spacing-16);
  }
}
