@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouses-container {
  background-color: $color-light-primary;
  border-radius: $radius-4;
}

.warehouses-header {
  @include flex-col($spacing-16);
  @include container;

  @include tablet {
    @include flex-row-between($spacing-16);
  }

  &__actions {
    @include flex-col($spacing-16);
  }

  &__search {
    @include input-text;
  }
}

.warehouses-list {
  @include flex-col;

  &__row {
    border-top: 1px solid $color-border-primary;
    @include flex-row($spacing-16);
    flex-wrap: wrap;
    @include container;
  }

  &__item {
    flex: 1 1 calc(50% - $spacing-16);
  }

  &__actions {
    flex: 1 1 100%;
    @include flex-row-between($spacing-16);
  }
}
