@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
  position: relative;
  flex-grow: 1;

  &__input {
    width: 100%;
    @include input-text;
  }

  &__btn {
    position: absolute;
    right: 0.1875rem;
    top: 0.1875rem;
  }
}
