@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  @include flex-col($spacing-24);
  @include container-padding;

  @include tablet {
    @include flex-row-between;
  }

  @include desktop {
    max-width: 63.75rem;
    width: 100%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }

  &__logo-link {
    align-self: center;
  }

  &__logo {
    height: 28px;
  }

  &__nav-list {
    @include flex-row-center($spacing-16);
  }

  &__nav-item {
    flex: 1 1 0;
    text-align: center;
  }

  &__nav-link {
    display: inline-block;
    width: 100%;
    color: $color-light-primary;
    padding: $spacing-8 $spacing-16;
    border-radius: $radius-full;
    transition: background-color 0.3s ease;

    &.active {
      background-color: $color-text-primary;
    }

    &:hover {
      background-color: $color-text-primary;
    }
  }
}
