@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-container {
  @include content-container;
}

.warehouse-header {
  @include flex-row-between($spacing-16);
}

.warehouse-details {
  @include flex-col($spacing-16);
  @include container-padding-compact;

  &__info-wrapper {
    @include flex-row($spacing-16);
  }

  &__info {
    flex: 1 1 0;
  }
}

.warehouse-inventory {
  @include flex-col;

  &__row {
    border-top: 1px solid $color-border-primary;
    @include flex-row($spacing-16);
    flex-wrap: wrap;
    @include container-padding;
  }

  &__item {
    flex: 1 1 calc(50% - $spacing-16);
    @include flex-col($spacing-4);
  }

  &__content {
    &--link {
      color: $color-brand-primary;
      @include flex-row($spacing-4);

      &:hover {
        color: $color-brand-primary-hover;
      }
    }
  }

  &__chip {
    padding: $spacing-4 $spacing-8;
    border-radius: $radius-full;
    align-self: flex-start;
    text-transform: uppercase;
    @include labels;

    &--in-stock {
      color: $color-success;
      background-color: $color-success-light;
    }

    &--out-of-stock {
      color: $color-error;
      background-color: $color-error-light;
    }
  }

  &__actions {
    flex: 1 1 100%;
    @include flex-row-between($spacing-16);
  }
}
