@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-container {
  @include content-container;
}

.warehouse-header {
  @include flex-row-between($spacing-16);
}

.warehouse-details {
  @include flex-col($spacing-24);
  @include container-padding-compact;

  &__info-wrapper {
    @include flex-row($spacing-16);
  }

  &__info {
    flex: 1 1 0;
    @include flex-col($spacing-4);
  }
}

.warehouse-inventory {
  .list-body {
    &__row {
      border-top: 1px solid $color-border-primary;
      flex-wrap: wrap;
      @include flex-row($spacing-16);
      @include container-padding;

      @include tablet {
        flex-wrap: nowrap;
      }
    }
  }

  .list-header,
  .list-body {
    &__item {
      @include tablet {
        &--item-name {
          flex: 1 1 20%;
          order: 1;
        }

        &--status {
          flex: 1 1 30%;
          order: 3;
        }

        &--category {
          flex: 1 1 20%;
          order: 2;
        }

        &--quantity {
          flex: 1 1 20%;
          order: 4;
        }

        // &--actions {
        //   flex: 1 1 10%;
        //   order: 5;
        //   @include flex-row($spacing-8);
        // }
      }
    }
  }
}
