@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.app {
  @include flex-col;
  min-height: 100vh;
  background: linear-gradient(
    $color-background-dark 33vh,
    $color-background-light 33vh
  );

  &__main {
    flex: 1;
    @include container-padding;
  }
}
